* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100px;
    margin-bottom: 70px;
}
body {
  background-color: #050A30;
}

h1 {
    font-size: 4rem;
    text-align: center;
}
h2 {
    font-size: 2rem;
    text-align: center;
}

p {
  text-align: center;
  font-size: medium;
}

main {
  padding-bottom: 5px;
}


.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 150px;
    padding-top: 75px;
}

.navbar {
    background: #0000ff;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    z-index: 1;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;

}
  .fa-gem {
    margin-right: 0.5rem;
  }

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 100px;
    width: 200px;
    padding-top: 20px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    width: 100%;    
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color:#fff
}

.button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

.main {
  display: flex;
  z-index: 999;
}

.article {
    font-size: 3rem;
    flex: 1;
    z-index: 999;
    margin-bottom: auto;
    padding-bottom: 20px;

}

#embedPlayer {
  max-width: 100%;
}

.section {
  z-index: 999;
  margin-bottom: 0;
}

.page-wrapper {
  display: flex;
  margin: 0px;
  align-items: center;
  flex-wrap: nowrap;

}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -75px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: auto;
}

.row1 {

  justify-content: center;
  flex-direction: row;
}

.row2 {
  display: flex;
  flex-direction: row;
}

.row3 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.row4 {
  display: flex;
  flex-direction: row;
}

.row5 {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-bottom: 0px;
}

.column-left {
  display: flex;
  margin-top: 0;
  height: 100px;
  flex-direction: column;
  
}

.column-right {
  display: flex;
  margin-top: 0;
  height: 100px;
  flex-direction: column;
}

.column-center {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  align-items: center;
}

.page-wrapper ~ img {
  align-items: center;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1
  }

  .column-center {
    flex: 2
  }
}

article {
  flex: 1;
}

.footer {
  background-color:#0000ff;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid white;
}

.footer-left {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.footer-right {
  display: flex;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footimg {
  padding-top: 150px;
  align-items: center;
  text-align: center;
}